* {
    font-family: Arial, Helvetica, sans-serif;
}

#colortag{
    background-color:darkslategrey;
    color: darkgrey;
    height: 40px;
}

#LibelNews{
    color:red;
    font-size: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#tag-line{
    text-align: center;
    color: darkslategray;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -80px;
}
#colortag2{
    background-color: lightgrey;
    height: 5px;
}

.navbar{
    position: relative;
    display:flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
}

.navlink {
    position: relative;
    cursor:pointer;
    margin-top:-15px;
    margin-bottom: 20px;
}

.navlink:hover {
    color:red;
    font-weight: bolder;
    border-top:8px solid red;
    margin-top:-23px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 24px;
    margin: 5px 2.5px;
}

.search-container input[type=text] {
    padding: 10px;
    width: 300px;
    font-size: small;
}

#news-categories {
    padding: 0 10px;
    font-size: small;
    height: 24px;
    background-color: red;
    color:white;
    margin: 0 0 0 2.5px;
    width:150px;
}

.search-container button {
    padding: 0 20px;
    font-size: small;
    height: 24px;
    background-color: darkslategray;
    color:white;
    margin: 0 2.5px;
    width: 100px;
}

#from {
    width:160px;
    margin: 0 2.5px ;

}

#to {
    width:160px;
    margin: 0 2.5px;
}

#footer {
    position: absolute;
    bottom: 0%;
    left: 45%;
    right: 45%;
}