.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 24px;
    margin: 5px 2.5px;
}

.search-container input[type=text] {
    padding: 10px;
    width: 300px;
    font-size: small;
}

#news-categories {
    padding: 0 10px;
    font-size: small;
    height: 24px;
    background-color: red;
    color:white;
    margin: 0 2.5px;
    width:150px;
}

.search-container button {
    padding: 0 20px;
    font-size: small;
    height: 24px;
    background-color: darkslategray;
    color:white;
    margin: 0 2.5px;
    width: 100px;
}


#from {
    width:147.5px;
    margin: 0 2.5px 0 0;

}

#to {
    width:147.5px;
    margin: 0 2.5px;
}