* {
  font-family: Arial, Helvetica, sans-serif;
}

#content-header {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

#header-title {
  margin:0 60px;
  min-width:607px;
}

#color-spacer{
  background-color:darkslategrey;
  color: darkgrey;
  height: 40px;
}

#libel-news{
  color:red;
  font-size: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#tag-line {
  text-align: center;
  color: grey;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -80px;
}

#color-spacer2{
  background-color: lightgrey;
  height: 5px;
  margin-top:20px;
}

.navbar{
  position: relative;
  display:flex;
  flex-direction: row;
  text-align: center;
  list-style-type: none;
  justify-content:space-evenly;
  font-size: 16px;
  font-weight: bold;
  margin-left:-50px;
  margin-top: 0px;
  margin-bottom:60px;
}

.navlink {
  text-decoration: inherit;
  color:inherit;
  cursor:pointer;
  margin: 0 px;
}

.navlink:hover {
  color:red;
  font-weight: bolder;
  border-top:5px solid red;
  margin-top:-21px;
}

.navlink:active {
  color:darkslategrey;
  font-weight: bolder;
  border-top:5px solid darkslategrey;
  margin-top:-21px;
}

.navlink:focus {
  color:red;
  font-weight: bolder;
  border-top:5px solid red;
  margin-top:-21px;
}

#search-title {
  margin-top:15px
}

.search-container {
  display: flex;
  justify-content: center;
  height: 24px;
  margin: 5px 2.5px;
}

.search-container input[type=text] {
  padding: 10px;
  width: 300px;
  font-size: small;
}

#news-categories {
  padding: 0 10px;
  font-size: small;
  height: 24px;
  background-color: red;
  color:white;
  margin: 0 0 0 2.5px;
  width:150px;
}

.search-container button {
  padding: 0 20px;
  font-size: small;
  height: 24px;
  background-color: darkslategray;
  color:white;
  margin: 0 2.5px;
  width: 100px;
}

#from {
  width:160px;
  margin: 0 2.5px;
}

#to {
  width:160px;
  margin: 0 2.5px;
}

#h2-category {
  font-size:x-large;
  margin-left: 5px;
  border-bottom: .5px dashed rgba(128, 128, 128, 0.500);
  color:red;
}

#landing-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height:200px;
  background-color: #6ec0ef;
  margin-top: -35px;
}

#landing-image img {
  height:200px;
}

#news-results {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#news-widget {
  display: flex;
  width:550px;
  height:220px;
  border:1px solid lightgrey;
  box-shadow:5px 5px 5px rgba(47, 79, 79, 0.5);
  margin: 50px auto 0;
}

#no-results{
  margin-top: 25px;
font-size:x-large;
text-align: center;
color: lightgray;
}

#article-image {
  flex-basis: 40%;
}

#article-image img {
  max-width: 100%;
  height: 100%;
}

#widget-content {
  flex-basis: 60%;
  padding: 3px 8px;
  position:relative;
}

#widget-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#news-source {
  font-size: small;
  font-weight: bolder;
}

#article-date {
  font-size: small;
}

#article-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: red;
}

#article-summary {
  color:grey
}

#author-category {
  display: flex;
  justify-content: space-between;
  position:absolute;
  bottom:0;
  width:95%;
}

#author {
  font-size: small;
}

#category {
  font-size: small;
}

#color-spacer3 {
  background-color: red;
  height: 5px;
  display:flex;
  position:fixed;
  bottom:45px;
  width:100%;
}


footer {
  display:flex;
  position:fixed;
  width:100%;
  background-color: antiquewhite;
  bottom:0px;
  border-top:6px solid red;
  margin-left:-8px;
}

footer p {
  color: grey;
  margin:20px;
}

/* MODAL DETAILS */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* OUR TEAM PAGE */

#our-team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

#developer-card {
  display: flex;
  width:475px;
  height:200px;
  border:1px solid lightgrey;
  box-shadow:5px 5px 5px rgba(47, 79, 79, 0.5);
  margin:40px 40px;
}




/* JOURNAL PAGE */

#journal-container {
  display:flex;
  flex-wrap:wrap-reverse;
  justify-content:center
}

#journal-news-results {
  width:550px;
  height:auto;
  margin-right:20px;
}

#journal-entry {
  width:475px;
  height:auto;
}

#user-topic {
  font-size: large;
  font-weight: bolder;
  width: 357px
}

#user-libel {
  height: 600px;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  vertical-align: top;
  line-height: 1.2em;
  overflow: auto;
  font-size: medium;
}

#journal-container button {
  padding: 0 20px;
  font-size: small;
  height: 28px;
  background-color: darkslategray;
  color:white;
  margin: 0 2.5px;
  width: 100px;
}

#journal-news-results h2 {
  font-size:x-large;
  margin-left: 5px;
  border-bottom: .5px dashed rgba(128, 128, 128, 0.500);
  margin-top:-1px;
  color:red;
  margin-bottom: -43px;
}

.pair-container {
  display: flex;
  align-items: center;
}

.pair-container i {
  font-size: 14px;
}
