body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#content_header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin: 5px;

    border-style:groove;
}

#header_title{
    text-align: left;
    font-size: 30px;

}
#header_nav_bar {
    display: flex;
    flex-direction: column;
    width: 33%;
    border: 1px solid black;

    
}

#search_text_input{
    align-content: center;
    text-align: center;
    width: 99%;
    height: 75%;
}

#search_button {
    align-content: center;
    text-align: center;
    width: 100%;
    height: 25%;
}

#temp{
    display: inline;
    width: 70%;
    
}

#content_main {
    border-style: groove;
    width: 100%;
    height: 500px;

    margin: 5px;
}

#content_footer {
    border-style: groove;
    width: 100%;
    height: 100px;

    margin: 5px;
}